.app-header {
  justify-content: space-between;
  align-items: center;
  // background-color: lightgrey;
  background-color: #0067a3;
  padding: 4px;
  & > div {
    gap: 4px;
    align-items: center;
  }
}
