.board-header {
  justify-content: space-between;
  // background-color: #0079bf;
  background-color: inherit;

  padding: 4px;

  & > div {
    gap: 4px;
  }
  & img {
    align-self: center;
    object-fit: cover;
    height: 28px;
    width: 28px;
    object-fit:cover ;
    border-radius: 3rem;
  }
  & .board-title {
    // height: 100%;
    // height: 34px;
    position: relative;
    & button {
      height: 100%;
    }
    & input {
      // position: relative;
      // display: inline-block;

      width: 0;
      // height: 100%;
      outline: none;
      padding: 6px 4.5px 6px 6px;
      font: inherit;
      font-size: 1rem;
      border: 0;
      margin: 0;
      height: 100%;
      border-radius: 3px;
    }
  }
}
