.board-content {
  &.zoom-out {
    font-size: 0.5rem;
    // line-height: 1.25rem;
    line-height: 0.7rem;
  }

  gap: 8px;
  // background-color: #0079bf;
  background-color: inherit;
  flex: 1;
  padding: 4px;
  overflow-x: auto;

  // .sortable-ghost {
  //   // opacity: .6;
  // }

  // width: 1000px;
  &::-webkit-scrollbar {
    height: 12px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: hsla(0, 0%, 100%, 0.35);
  }
  &::-webkit-scrollbar-track {
    border-radius: 5px;
    // margin: 0 5px;
    margin: 8px;
    background-color: rgba(0, 0, 0, 0.15);
  }

  .zoom-button {

    @include for-mobile-layout {
      // background-color: orange;
      display: flex;
    }
  
    @include for-narrow-layout {
      // background-color: yellow;
    }
  
    @include for-normal-layout {
      // background-color: green;
    }
  
    @include for-wide-layout {
      // background-color: blue;
    }
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    right: 20px;
    bottom: 20px;
    background-color: rgb(55, 146, 55);
    width: 50px;
    height: 50px;
    border-radius: 3rem;


  }
}
