.board-container {
  flex: 1;
  // background-color: lightblue;
  // padding: 1px;
  overflow-x: auto;
  &.show {
    margin-right: $menuWidth;
  }
  &.hide {
  }
  transition: margin-right 0.4s;
  // transition: margin-right .4s ease-in-out;
}
