.list-cards {
  position: relative;
  overflow-y: auto;
  padding-bottom: 1px;

  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-right: 4px;
  // margin-bottom: 8px;

  &::-webkit-scrollbar {
    // height: 12px;
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.15);
  }
  &::-webkit-scrollbar-track {
    border-radius: 5px;
    // margin: 0 5px;
    // margin: 8px;
    background-color: hsla(0, 0%, 100%, 0.35);
  }
}
