.popup-container {
  box-shadow: 0 8px 16px -4px #091e4240, 0 0 0 1px #091e4214;
  z-index: 4;
  min-width: 300px;
  // height: 400px;
  position: absolute;
  background-color: #fff;
  border-radius: 3px;
  opacity: 1;
  top: 0;
  & .close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 6px;
    right: 6px;
    color: #6b778c;
    font-size: 1rem;
    &:hover {
      color: #172b4d;
    }
  }

  &.off-page-bottom {
    top: unset;
    bottom: 0;
  }
  &.off-page-right {
    // left:0
    right: 0;
    // transform: translateX(-100%);
  }

  .close-button {
    z-index: 1;
  }
}
