.popup {
  z-index: 1;
  // padding:0.75rem;
  position: absolute;
  border-radius: 3px;
  box-shadow: 0 12px 24px -6px #091e4240, 0 0 0 1px #091e4214;
  min-width: 300px;
  min-height: 200px;
  background-color: #fff;
  // background-color: lightcyan;
  button {
    z-index: 2;
  }

  & .close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 6px;
    right: 6px;
    color: #6b778c;
    font-size: 1rem;
    &:hover {
      color: #172b4d;
    }
  }
}
