.window-sidebar {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
  gap: 8px;
//   border:none;
// box-shadow: none;

& .sidebar-button {
    border-radius: 3px;
      border:none;
    background-color: #091e420a;
    text-align: left;
    color: inherit;
    cursor: pointer;
    height: 2rem;
    padding:6px 12px;

    &:hover {
      background-color: #091e4214;
    }
  }

  & .popup-container {
    &.off-page-right {
      right: -0.5rem;
    }
  }

  @include for-mobile-layout {
    // background-color: orange;
    // z-index: ;
    background-color: #fff;
    border-radius: 3px;
    margin-right: 2px;
    box-shadow: 0 12px 24px -6px #091e4240, 0 0 0 1px #091e4214;
    padding: 1rem;
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(100%);
  &.show{
      transform: translateX(0);
    }
  // transition: transform .3s;

   
  }

  @include for-narrow-layout {
    // background-color: yellow;

  }

  @include for-normal-layout {
    // background-color: green;
   
  }

  @include for-wide-layout {
    // background-color: blue;

  }
}
