.card-content-labels {
  width: fit-content;
  flex-wrap: wrap;

  & span {
    // color:none;
    color:#fff;
    padding: 0 8px;
    border-radius: 4px;
    font-size: 0;
    // font-size: 0.75rem;
    min-width: 40px;
    height: 8px;
    display: flex;
    align-items: center;
    transition: all 0.3s;
    &.show {
    //   min-width: 40px;
    min-width: 56px;

      height: 1rem;
      font-size: 0.75rem;
    }
  }
}
