.app-header {
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.15); //for bgcolor
  // background-color: rgba(0, 0, 0, 0.32);  //for bgphoto
  
  padding: 4px;
  & > div {
    gap: 4px;
    align-items: center;
  }
}
