.app-header {
  @include for-mobile-layout {
    // background-color: orange;
    display: none;
  }

  @include for-narrow-layout {
    // background-color: yellow;
  }

  @include for-normal-layout {
    // background-color: green;
  }

  @include for-wide-layout {
    // background-color: blue;
  }
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.15); //for bgcolor
  // background-color: rgba(0, 0, 0, 0.32);  //for bgphoto
  
  padding: 4px;
  & > div {
    gap: 4px;
    align-items: center;
  }
}
