.board-menu-content{
    height: 100%;
    position: relative;
    overflow-x: hidden;

    // overflow-y: auto;
    // & .menu-content-section{
  
    //     &::-webkit-scrollbar {
    //       height: 8px;
    //       width: 8px;
    //     }
    //     &::-webkit-scrollbar-thumb {
    //       border-radius: 5px;
    //       background-color: rgba(0, 0, 0, 0.15);
    //     }
    //     &::-webkit-scrollbar-track {
    //       border-radius: 5px;
    //       // margin: 0 5px;
    //       margin: 0.75rem 0;
    //       background: #091e4214;
    //       // background-color: hsla(0, 0%, 100%, 0.35);
    //     }
  
    // }
}