* {
  box-sizing: border-box;
}

html {
  font-family: Montserrat, sans-serif;
  line-height: 20px;
  color: #172B4D;
}

body {
  font-size: 0.875rem;
  margin: 0;
  // background-attachment: fixed;
}

button{
  font-family: inherit;
}

textarea {
  // focus {
  outline: none;
  //   }
  font-family: inherit;
  font-size: inherit;
  border: 0;
  padding: 8px;
  border-radius: 3px;
  box-shadow: 0 1px 0 #091e4240;
  // max-height: 162px;
  // min-height: 54px;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1rem;
}

h1 {
  font-size: em(46px);
}

p {
  margin: 0 0 1rem;
  // max-width: 42ch;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

img {
  width: 100%;
}
