// Aspect ratios

.ratio-16-9 {
  @include aspect-ratio(100, 56);
}

.ratio-square {
  @include aspect-ratio(100, 100);
}

.ratio-card {
  @include aspect-ratio(100, 80);
}

.ratio-poster {
  @include aspect-ratio(100, 150);
}

// Font Sizes
.fs12 {
  font-size: rem(12px);
}
.fs14 {
  font-size: rem(14px);
}
.fs18 {
  font-size: rem(18px);
}
.fs20 {
  font-size: rem(20px);
}
.fs24 {
  font-size: rem(24px);
}
.fs28 {
  font-size: rem(28px);
}
.fs30 {
  font-size: rem(30px);
}

.text-center {
  text-align: center;
}
// flex helpers

.flex {
  display: flex;

  > *.full {
    flex: 1;
  }
  &.column {
    flex-direction: column;
  }
  &.justify-center {
    justify-content: center;
  }
  &.justify-between {
    justify-content: space-between;
  }
  &.align-center {
    align-items: center;
  }
}

.pointer {
  cursor: pointer;
}

.clear-list {
  text-decoration: none;
  list-style-type: none;
  color: inherit;
  margin: 0;
  padding: 0;
}
.clear-link:hover,
.clear-link {
  text-decoration: none;
  list-style-type: none;
  color: inherit;
}

.trello-button {
  margin: 0;
  border: 0;
  border-radius: 3px;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  color: #fff;
  background-color: #ffffff3d;
  padding: 6px;
  &:hover {
    background-color: #ffffff52;
  }
}

.basic-input {
  // z-index: 2;
  outline: none;
  padding: 8px 12px;
  font: inherit;
  // font-size: 0.875rem;
  border: 0;
  margin: 0;
  height: 100%;
  border-radius: 3px;
}

// .compose-add-button{
//   font-size: 1rem;
//   padding: 0px 12px;
//   color: #fff;
//   background-color: #0079bf;
//   &:hover{
//       background-color: #026aa7;
//   }

// }
// .compose-cncel-button{
//   font-size: 1.5rem;
//   // font-weight: 600;
//   // color: unset;
//   color: #42526e;
//   background-color:inherit;
//   // width: $height;

// }

.board-menu-divider {
  // margin: 16px 0;
  background-color: #091e4221;
  border: 0;
  height: 1px;
}
